.details{
    margin-top: 2rem;
}

h5{
    text-transform: uppercase;
    font-weight: 600;
}

.sectiondesc{
    font-size: 0.8rem;
    margin-top: 1rem;   
}

h6{
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(134, 134, 134);
}
.small{
    font-weight: 500;
}
.text-black{
    font-size: 2rem;
    font-weight: 600;
}

